#fish_container {
    width: 100%;
    height: 100%;
    background-image: url('/img/akwarium.jpg');
}

#fish_b {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    background-color: red;
    
}
.fish {
    position: absolute;
    width: 300px;
    /* transform: translate(250px, 250px); */
    
}
.fish > img {
    width: 300px;
}
