body {
    margin: 0;
    font-family: 'Play', sans-serif;
    background-color: black;
}
#theme_button {
    color: white;
}
footer {
    width: 100%;
    height: 150px;
    background-color: #00a2e8;
}
.footer-main {
    width: 100%;
    height: 85%;
    background-color: #505050;
    display: flex;
    justify-content: space-evenly;
}
.footer-block {
    width: calc(25% - 60px);
    height: calc(100% - 60px);
    font-size: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-block a, button {
    color: white;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: inherit;
    cursor: pointer;
}
.footer-block > a:hover {
    color: white;
    text-decoration: underline;
}
.footer-block > button:hover {
    color: white;
    text-decoration: underline;
}
.footer-lower {
    width: 100%;
    text-align: center;
    color: white;
}
.nav {
    width: 100%;
    height: 60px;
    top: 0;
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    transition: all 0.4s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rect {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to bottom left, rgba(246, 0, 0, 0), white);
    transform: translateY(-5px) rotate(-45deg);
}

.nav-alt {
    width: 100%;
    height: 25px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.4s;
}
.nav-alt > .button-cluster {
    display: none;

}
.nav-alt > .nav-small-button {
    display: none;
}
.button-cluster {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-small-button {
    width: 5%;
    height: 100%;
    text-align: center;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-small-button > button {
    width: 40%;
    height: 80%;
    font-size: 150%;
    
}
.nav-button {
    width: 125px;
    height: 80%;
    background-color: white;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgba(255,255,255, 1);
    backdrop-filter: blur(10px);
    color: inherit;
    text-decoration: none;
    transition: 0.5s all;
}
.nav-button:hover {
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.5s all;
}

.nav-logo-cluster {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.space {
    height: 50px;
    text-align: center;
    color: white;
}
.our-cars-cards {
    height: 950px;
    width: calc(100% - 10px);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
main {
    padding-top: 65px;
}
.prev-button {
    position: absolute;
    width: 60px;
    height: 160px;
    left: 0.5%;

}
.prev-button button {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 50px;
    color: white;
    transition: 0.3s all;
}
.next-button {
    position: absolute;
    width: 60px;
    height: 160px;
    right: 0.5%;
    

    
}
.next-button button {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 50px;
    color: white;
    transition: 0.3s all;
    
}
.next-button:hover > button {
    font-size: 60px;
}
.prev-button:hover > button {
    font-size: 60px;
}
.card-group {
    width: 400px;
    height: 200px;
    transition: 10s;
    
    
}


.card-group[data-status="after"] {
    width: 400px;
    height: 200px;
    position: absolute;
    transform: translateX(170%) scale(0.4);
    transition: 1s;
    
    
}

.card-group[data-status="active"] {
    width: 400px;
    height: 200px;
    transition: 1s;
    z-index: 10;
    transform: translateY(75%);
    
}

.card-group[data-status="back"] {
    width: 400px;
    height: 200px;
    position: absolute;
    transform: translateY(-170%) scale(0.2);
    transition: 1s;
    
}

.card-group[data-status="before"] {
    width: 400px;
    height: 200px;
    position: absolute;
    transform: translateX(-170%) scale(0.4);
    transition: 1s;
}

.card-group[data-status="before"] > .card:nth-child(1) {
    width: 400px;
    height: 200px;
    opacity: 0;
}
.card-group[data-status="after"] > .card:nth-child(1) {
    width: 400px;
    height: 200px;
    opacity: 0;
    
}
.card-group[data-status="back"] > .card:nth-child(1) {
    width: 400px;
    height: 200px;
    opacity: 0;
    
}
.card-group[data-status="active"] > .card:nth-child(1) {
    width: 400px;
    height: 250px;
    opacity: 1;
    
}

.card-group[data-status="after"]:hover > .card:nth-child(3) {
    transform: translateX(0px) rotate(0deg) rotateY(0deg);
    transition: 10s;
       
}
.card-group[data-status="after"]:hover > .card:nth-child(2) {
    transform: translateX(0px) rotate(0deg) rotateY(0deg);
    transition: 1s;
       
}
.card-group[data-status="after"]:hover > .card:nth-child(1) {
    z-index: 0;
    transition: 1s;
       
}
.card-group[data-status="back"]:hover > .card:nth-child(3) {
    transform: translateX(0px) rotate(0deg) rotateY(0deg);
    transition: 1s;
       
}
.card-group[data-status="back"]:hover > .card:nth-child(2) {
    transform: translateX(0px) rotate(0deg) rotateY(0deg);
    transition: 1s;
       
}
.card-group[data-status="back"]:hover > .card:nth-child(1) {
    z-index: 0;
    transition: 1s;
       
}
.card-group[data-status="before"]:hover > .card:nth-child(3) {
    transform: translateX(0px) rotate(0deg) rotateY(0deg);
    transition: 1s;
       
}
.card-group[data-status="before"]:hover > .card:nth-child(2) {
    transform: translateX(0px) rotate(0deg) rotateY(0deg);
    transition: 1s;
       
}
.card-group[data-status="before"]:hover > .card:nth-child(1) {
    z-index: 0;
    transition: 1s;
       
}



.card-group img {
    width: 400px;
    height: 200px;
    background-image: url('/img/cars/showroom.png');
    border-radius: 15px;
}
.card {
    position: absolute;
    transition: 1s;
    border-radius: 15px;
    background-color: white;
    
}


.card-group:hover > .card:nth-child(3) {
    transform: translateX(-400px) rotate(-35deg) rotateY(-180deg);
    transition: 1s;
    
}
.card-group:hover > .card:nth-child(2) {
    transform: translateX(400px) rotate(35deg) ;
    transition: 1s;
    
}
.card-group:hover > .card:nth-child(1) {
    transition: 1.5s ease;
    /* transform: rotateX(360deg); */
    z-index: 3;
    

}


.card:nth-child(1) {
    position: absolute;
    width: 400px;
    height: 250px;
    
}
.card:nth-child(2) {
    position: absolute;
    width: 400px;
    height: 200px;
    
    
}
.card:nth-child(3) {
    
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: gray;
}
.info-cluster {
    height: 185px;
    width: 400px;
    padding: 15px;
    padding-bottom: 0px;
}
.info-price-cluster {
    width: 400px;
    height: 50px;
    
}
.info-price:nth-child(3) {
    color: #a349a4;
    
}
.info-price:nth-child(4) {
    color: #00a2e8;
    
}
.info-price {
    width: 50%;
    float: left;
    font-size: 25px;
    text-align: center;
}
.info-price-label {
    width: 50%;
    float: left;
    font-size: 20px;
    text-align: center;
}
.info-year, .info-seats, .info-en, .info-hp {
    width: calc(50% - 15px);
    float: left;
    height: 75px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flota {
    width: calc(100% - 10px);
    border-top: 1px solid white;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flota-header {
    width:100%;
    color: white;
    text-align: center;
}
.gen-block {
    max-width: 450px;
    margin: 30px;
    padding: 15px;
    width: calc(auto - 30px);
    background-color: white;
}
.gen-block-img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    background-size: 400px 250px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.gen-block-img img[data-status="active"] {
    width: 400px;
    position: absolute;
    display: block;
}
.gen-block-img img[data-status="hidden"]{
    width: 400px;
    position: absolute;
    display: none;
}
.gen-block-img img[data-status="hidden"]{
    width: 400px;
    position: absolute;
    display: none;
}
.gen-block-name {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gen-block-top {
    width: 450px;
}

.gen-block-info-cluster {
    width: 100%;
    margin-bottom: 15px;
   
    
}
.gen-info-year, .gen-info-seats, .gen-info-en, .gen-info-hp  {
    text-align: center;
    font-size: 25px;
    width: calc(50% - 30px);
    padding: 15px;
    float: left;
    
}
.gen-block-price {
    clear: both;
    text-align: center;
    font-size: 30px;
    height: 35px;
    margin-top: 15px;
    width: 100%;
}
.gen-block-price-label {
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.gen-block-button {
    width: 100%;
    margin-top: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gen-block-button > button {
    width: 40%;
    height: 40px;
    color: white;
    background-color: #505050;
    border-radius: 30px;
    transition: 0.4s;

}
.gen-block-button > button:hover {
    width: 50%;
    height: 50px;
    color: white;
    background-color: #505050;
    border-radius: 30px;
    transition: 0.4s;
}
h4 {
    text-align: center;
    margin: 0;
}
.gen-block-text {
    max-width: 450px;
    min-width: 250px;
    margin: 30px;
    padding: 30px;
    width: calc(auto - 60px);
    background-color: white;
}
.gen-block-text > * {
    width: 100%;
    text-align: center;
}
.gen-block-text h1, h2 {
    margin: 0;
}
.text-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: left;
    font-size: 20px;
}

.container {
    width: 100%;
    height: 1200px;
}
.filter-cluster {
    width: 100%;
    height: 150px;
}
.filter-button {
    width: 40px;
    background-color: white;
    font-size: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 80px;
    z-index: 4;
}
.filter-button:hover {
    background-color: rgb(175, 175, 175);
}
.filter-box-after {
    display: block;
    padding: 20px;
    width: 90%;
    background-color: white;
    height: calc(100px - 20px);
    transition: 1s all;
    right: 0;
    margin: auto;
}
.filter-box-after[data-status="hidden"] {
    display: block; 
    /* display: none; */
    transition: all 1s;
}
.filter-box-after[data-status="show"] {
    display: block;
    transition: all 1s;
}

.slider-box {
    width: 20%;
    height: 80px;
    float: left
}
.slider-label {
    width: 100%;
    height: 30%;
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 90%;
    text-align: center;
    margin: auto;
}
.type-box {
    width: calc(40% - 30px);
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.type-item {

    width: 30%;
    font-size: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;
}
.type-item > input {
    font-size: inherit;
    width: 25px;
    height: 25px;
    border: none;
    outline: 0;
    margin-right: 10px;

}
.gas-box {
    width: calc(20% - 30px);
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid black;
    justify-content: space-evenly;
    font-size: 100%;

}
.gas-item {

    width: 50%;
    height: 50px;
    font-size: 100%;
    height: 30px;
    display: flex;
    align-items: center;

}


.gas-item > input {
    font-size: inherit;
    width: 25px;
    height: 25px;
    border: none;
    outline: 0;
    margin-right: 10px;


}
.selected-car {
    position: absolute;
    width: 100%;
    bottom: -1000;
    height: 154%;
    background-color: rgba(0, 0, 0, 0.400);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.44s all;
}
.selected-car-hidden {
    position: absolute;
    width: 100%;
    bottom: -1000;
    height: 154%;
    background-color: rgba(0, 0, 0, 0.400);
    z-index: 5;
    transform: scale(0);
    transition: 0.44s all;
    
}
.selected-car-item {
    position: absolute;
    z-index: 6;
    width: 50%;
    height: 85%;
    background-color: white;
    margin-top: 15px;
    transition: 1s all ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.44s all;
}
.selected-car-item-hidden {
    position: absolute;
    z-index: 6;
    width: 50%;
    height: 85%;
    background-color: white;
    margin-top: 15px;
    transform: translateY(50%) scale(0);
    transition: 0.44s all;

}
.selected-car-info-cluster {
    width: 90%;
    height: 90%;
}
.selected-car-name {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.selected-car-image {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-car-image > img {
    max-width: 750px;
    max-height: 221px;
}
.selected-car-type {
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-car-info {
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.selected-car-info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
    font-size: 150%;
}
.calculator {
    width: 100%;
    height: 170px;
}

.calc-label-cluster {
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.calc-label {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.calc-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.data-input {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.data-input input {
    width: 50%;
    height: 30px;
    text-align: center;
    background-color: white;
    outline: 0;
    border: none;
    font-size: 150%;
}
input[type="date"]:hover {
    font-size: 170%;
    font-weight: 600;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    position: absolute;
    width: 12%;
    height: 5%;
    transform: translateX(40%);
}
.calc-cost {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.disc {
    position: absolute;
    font-size: 80%;
    transform: translate(100%, -120%) rotate(-10deg);
    color: #a349a4;
}
#final {
    color: #00a2e8;
}


/* O NAS */

.aboutus-container {
    width: calc(100% - 50px);

    padding: 25px;
    color: white;
}
  .aboutus-header {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid white;
}
  .aboutus-article {
    width: calc(80% - 80px);
    margin: auto;
    padding: 40px;
    
}
#wspolprace {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    gap: 20px;
}
.aboutus-item {
    width: 20%;
    height: 400px;
    border: 1px solid white; 
}
.aboutus-item-img {
    width: calc(100% - 40px);
    height: calc(40% - 40px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.aboutus-item-text {
    width: calc(100% - 40px);
    height: calc(60% - 40px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus-item-img > span {
    border: 1px solid white;
    transform: rotate(30deg);
    font-size: 200%;
}

/* KONTAKT */

.kontakt-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
}

.email-form {
    width: 40%;
    background-color: rgb(194, 194, 194);
}
.email-form h2,h3 {
    margin-top: 15px;
}
.email-form-title {
    width: 100%;
    text-align: center;
}
.email-form-cluster {
    width: 90%;
    margin: auto;
}
.email-form-cluster {
    font-size: 120%;
}
.email-form-cluster > input {
    width: 50%;
    height: 40px;
    margin-top: 10px;
}