body {
    margin: 0;
    font-family: 'Play', sans-serif;
    background-color: black;
    height: 1500px;
}
.nav {
    width: 100%;
    height: 60px;
    top: 0;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.our-cars-cards {
    height: 500px;
    width: calc(100% - 10px);
    border: 1px solid white;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
main {
    padding-top: 65px;
}
.card-group {
}
.card {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    z-index: 5;
    transition: 1s all;
}
sub {
    font-size: 10px;
    position: absolute;
    right: 18px;
    top: 5px;
}
#t1 {
    z-index: 5;
    background-image: url('/img/cars/showroom.png');
    display: flex;
    justify-content: center;
    position: absolute;
    
}
#t2 {
    z-index: 4;
    display: flex;
    justify-content: center;
    position: absolute;
    background-image: url('/img/cars/showroom.png');
}
#t3 {
    z-index: 3;
    position: relative;
}

#p1 {
    z-index: 5;
    background-image: url('/img/cars/showroom.png');
    display: flex;
    justify-content: center;
    position: absolute;
    
}
#p2 {
    z-index: 4;
    display: flex;
    background-image: url('/img/cars/showroom.png');
    justify-content: center;
    position: absolute;
}
#p3 {
    z-index: 3;
    position: relative;
}

.stats {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    font-size: 29px;
}
.stats i {
    color:black;
    font-size: 29px;
    margin-right: 10px;
}
.stats-half {
    width: calc(60% - 20px);
    float: left;
    padding: 10px;
    border-radius: 10px;
    font-size: 29px;
}
#seats {
    width: calc(40% - 20px);
}
.stats-half i {
    color:black;
    font-size: 29px;
    margin-right: 10px;
}
.cena {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    font-size: 29px;
}

.cardhovert1 {
    transform: translate(-220px, 22px) rotate(-15deg) rotateY(180deg);
    transition: 1s all;
}
.cardhovert2 {
    transform: translate(220px, 22px) rotate(15deg) rotateY(180deg) rotateZ(180deg);
    transition: 1s all;
}
.cardhover {
    z-index: 4;
}


.card img {
    width: 90%;
}
